<!DOCTYPE html>
{include file="public/common" /}
<div class="x-body">
    <form class="layui-form">
        <input type="hidden"  name="saveid" required="" lay-verify="required" value="{$userinfo['id']}">
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>登录名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="username" name="username" required="" lay-verify="required" value="{$userinfo['name']}"
                autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>将会成为您唯一的登入名
            </div>
        </div>
        <div class="layui-form-item">
            <label for="phone" class="layui-form-label">
                <span class="x-red">*</span>手机
            </label>
            <div class="layui-input-inline">
                <input type="text" id="phone" value="{$userinfo['phone']}" name="phone" required="" lay-verify="phone"
                autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>将会成为您唯一的登入名
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>邮箱
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_email" name="email" required="" lay-verify="email" value="{$userinfo['email']}"
                autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="role" class="layui-form-label">
                <span class="x-red">*</span>角色
            </label>
            <div class="layui-input-inline">
              <select name="role_id">
                <option value="">请选择角色</option>
                  {volist name='rolelist' id='vo'}
                  <option value="{$vo.id}" {if $userinfo['role_id'] == $vo['id']}selected=""{/if}>{$vo.name}</option>
                  {/volist}
              </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="save" lay-submit="">
                保存
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
      var form = layui.form()
      ,layer = layui.layer;

      //自定义验证规则
      form.verify({
        nikename: function(value){
          if(value.length < 5){
            return '昵称至少得5个字符啊';
          }
        }
      });

      //监听提交
      form.on('submit(save)', function(data){
        //发异步，把数据提交给php
          $.ajax({
              type: 'POST',
              url: "{:url('login/admin_edit')}",
              dataType: 'JSON',
              data: data.field,
              success: function (res) { //返回json结果
                  if(res.status==200){
                      layer.alert(res.msg, {icon: 6},function () {
                          // 获得frame索引
                          var index = parent.layer.getFrameIndex(window.name);
                          //关闭当前frame
                          parent.layer.close(index);
                          window.parent.location.reload();
                      });
                  }else{
                      layer.alert(res.msg, {icon: 5})

                  }
              }
          });

          return false;
      });


    });
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>