<!DOCTYPE html>
{include file="public/common" /}
<div class="x-body">
    <form action="" method="post" class="layui-form layui-form-pane">
        <input type="hidden" name="saveid" value="{$roleinfo['id']}">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>角色名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="rolename" required="" lay-verify="required" value="{$roleinfo['name']}"
                autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">
                拥有权限：（ 选择子级模块时，一定要选择父级，别问为什么。）
            </label>
            <table  class="layui-table layui-input-block">
                <tr>
                    <th>父级模块</th>
                    <th width="100px;">子级模块</th>
                </tr>
                <tbody>
                {volist name="menu_list" id='vo'}
                <tr>
                    <td style="background: beige;" width="70px;">
                        <input type="checkbox" name="fa_checkid" lay-skin="primary" {if in_array($vo.id,$selected_arr['access_id']) } checked="checked" {/if}value="{$vo.id}"><br><p style="color: red;font-weight: bold;margin-left: 10px;">{$vo.menu_name}</p>
                    </td>
                    {volist name="$vo['son']" id='voe'}
                    <td>
                        <div class="layui-input-block">
                            <input name="checkid" type="checkbox" {if in_array($voe.id,$selected_arr['access_str']) } checked="checked" {/if} value="{$voe.id}"><br/> <span style="margin-left: 10px;">{$voe.menu_name}</span>
                        </div>
                    </td>
                    {/volist}
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        <div class="layui-form-item layui-form-text">
            <label for="desc" class="layui-form-label">
                描述
            </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="desc" name="desc" class="layui-textarea">{$roleinfo['desc']}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
        <button class="layui-btn" lay-submit="" lay-filter="save">保存</button>
      </div>
    </form>
</div>
<script src="./lib/layui/layui.js" charset="utf-8">
</script>
<script src="./js/x-layui.js" charset="utf-8">
</script>
<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
      var form = layui.form()
      ,layer = layui.layer;
      //监听提交
      form.on('submit(save)', function(data){
          var standards = '';
          var fstandards = '';
          var i= 0;
          var j=0;
          $("input:checkbox[name='checkid']:checked").each(function() {
              // 遍历name=standard的多选框
              if(i ==0){
                  standards = $(this).val();
              }else{
                  standards += ',' + $(this).val();
              }
              i++;
          });
          $("input:checkbox[name='fa_checkid']:checked").each(function() {
              // 遍历name=standard的多选框
              if(j ==0){
                  fstandards = $(this).val();
              }else{
                fstandards += ',' + $(this).val();
              }
              j++;
          });
          data.field.checkid = standards;
          data.field.fa_checkid = fstandards;
          $.ajax({
              type: 'POST',
              url: "{:url('login/role_edit')}",
              dataType: 'JSON',
              data: data.field,
              success: function (res) { //返回json结果
                  if(res.status==200){
                      layer.alert(res.msg, {icon: 6},function () {
                          // 获得frame索引
                          var index = parent.layer.getFrameIndex(window.name);
                          //关闭当前frame
                          parent.layer.close(index);
                          window.parent.location.reload();
                      });

                  }else{
                      layer.alert(res.msg, {icon: 5})

                  }
              }
          });
        return false;
      });


    });
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

</html>