<div class="layui-side layui-bg-black x-side">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
            {volist name="menu_list" id="vo"}
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe612;</i><cite>{$vo.menu_name}</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        {volist name="$vo['son']" id="voe"}
                    <dd class="">
                        <a href="javascript:;" _href="{:url($voe.keyword)}">
                            <cite>{$voe.menu_name}</cite>
                        </a>
                    </dd>
                    {/volist}
                    </dd>

                </dl>
            </li>
            {/volist}
            <li class="layui-nav-item" style="height: 30px; text-align: center">
            </li>
        </ul>
    </div>

</div>